#project-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#project-tile a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF4900;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin: 10px;
    transition: background-color .4s;
}

#project-tile a:hover {
    background-color: #C53800;
}