#navbar {
    display: flex;
    justify-content: flex-end;
    inline-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E40045;
    z-index: 1;
}

#navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 16px;
    transition: background-color .4s;
}

#navbar a:hover {
    background-color: #B00035;
}

@media screen and (max-width: 700px) {
    #navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    #navbar a {
      float: left;
    }
}