@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  margin: 0;
  background-color: #292929;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

/* Color Palette */
/* As hex codes */

.color-primary-0 { color: #E40045 }	/* Main Primary color */
.color-primary-1 { color: #EB5B87 }
.color-primary-2 { color: #E63369 }
.color-primary-3 { color: #B00035 }
.color-primary-4 { color: #8A002A }

.color-secondary-1-0 { color: #FF4900 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FF9063 }
.color-secondary-1-2 { color: #FF7139 }
.color-secondary-1-3 { color: #C53800 }
.color-secondary-1-4 { color: #9B2C00 }

.color-secondary-2-0 { color: #A600A6 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #BC49BC }
.color-secondary-2-2 { color: #AB26AB }
.color-secondary-2-3 { color: #800080 }
.color-secondary-2-4 { color: #650065 }